<div class="d-flex vh-100">
  <!-- Sidebar -->
  <nav class="sidebar text-white p-4 flex-shrink-0">
    <img src="../../assets/logo-nav.svg" class="img-fluid mb-3 logo-small" alt="Logo">
    <div class="mb-3">
   <div class="search-wrapper mb-3">
  <img src="../../../assets/magnifine-bar.svg" class="search-icon" alt="Search icon">
  <input type="text" class="search-input" placeholder="Search">
  </div>

  </div>
  </nav>

  <!-- Main Content -->
  <main class="flex-grow-1  p-3 overflow-auto">

  </main>
</div>
